*{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;}
ul,ol,li{
    list-style: none;
}
body{
    color: #333;
    background-color: #fff;
    min-width: 1190px;
    
}
/* topnav */

.topnavbox{
    height: 40px;
    font-size: 12px;
    color: #ccc;
    background-color: #000;
    /* position: relative; */
}
.topnav{
    width: 1190px;
    margin: 0 auto;
}
.topnav .left{
    width: 425px;
    float: left;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.topnav .rightone{
    float: right;
    height: 40px;
    width: 175px;
    line-height: 40px;
}
.topnav .rightone a{
    border-right: 1px solid #393f3f;
    padding: 0 12px;
}
.topnav .rightone a:nth-child(3){
    border-right: none;
}
.topnav .right{
    display: flex;
    text-align: center;
    background-color: #424242;
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;

}
.topnav .right a{
    
}
.topnav a{
    color: #b0b0b0;
}
.topnav a:hover {
    color: #fff;
}
/* header */
.headerbox{
    z-index: 2;
    box-shadow: 0 0 5px #ccc;
}
.header{
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1190px;
    margin: 0 auto;
}
.header .headerlogo{
    display: block;
    width: 120px;
    height: 65px;
}

.header .headernav ul{
    width: 700px;
    margin-top: 0px;
    /* padding-left: 30px; */
    display: flex;
    justify-content: space-between;
}
.header .headernav ul li{
    padding-bottom: 16px;
}
.header .headernav ul a {
    font-size: 16px;
    color: #333;
    display: block;
    padding: 20px 25px 10px;
    
}
.header .headersearch{
    width: 300px;
    height: 40px;
    position: relative;

}
.header .headersearch .searchtext{
    padding-left: 10px;
    width: 290px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    border: 1px solid #e0e0e0;

}
.header .headersearch .searchbtn{
    position: absolute;
    top: 0;
    right: 0px;
    width: 40px;
    height: 40px;
    color: #616161;
    background-color: transparent;
    border: none;
    border-left: 1px solid #e0e0e0;
    cursor: pointer;
    /* transition: all .2s; */
    font-size: 20px;
    text-align: center;
}
.contentbox{
    width: 1190px;
    margin: 0 auto;
}
/* banner */
.banner{
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 20px;

}
.banner img{
    width: 1190px;
    height: 450px;
}
.banner .select{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner .select .dots span{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: black;
    opacity: .5;
}
/* content */
#content{
    background: #fafafa;
}
#content h1{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
}
#content h1 a{
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #757575;
}
#content a{
    float: left;
}
#content .shopbox{
    width: 228px;
    height: 284px;
    float: left;
    background: #fff;
    margin-left: 14px;
}
#content .shop img{
    width: 100%;
    height: 100%;
}

.contentbottom{
    width: 100%;
    height: 220px;
    background: #fafafa;
    padding-bottom: 40px;
    margin: 0 auto;
}
.contentbottom h1{
    width: 100%;
    height: 40px;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
}
.contentbottom img{
    width: 100%;
    height: 180px;
}
/* footer */
.footerbox {
    width: 100%;
    background: #fff;
}
.footerbox .footer {
    /* position: relative; */
    width: 1190px;
    margin: 0 auto;
}
.footerbox .footer .footertop{
    width: 1190px;
    height: 75px;
    border-bottom: 1px solid #e0e0e0;
}
.footerbox .footer .footertop li{
    float: left;
    width: 235px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 25px 0;
    border-right: 1px solid #e0e0e0;
}
.footerbox .footer .footertop li:last-of-type{
    border-right: none;
}
.footerbox .footer .footertop li a{
    font-size: 16px;
    color: #757575;
}
.footerbox .footer .footertop li a:hover{
    color: red;
}
.footercenter{
    width:1190px;
    height: 120px;
    padding: 40px 0;

}
.footercenter .left{
    width:932px;
    height: 120px;
    float: left;
}
.footercenter .left li{
    float: left;
    width: 233px;
    height: 120px;
}
.footercenter .left li .title{
    font-size: 15px;
    margin-bottom: 20px;
}
.footercenter .left li p{
    font-size: 12px;
    margin-bottom: 8px;
}
.footercenter .left li p a{
    color: #757575;
}
.footercenter .right{
    float: right;
    width: 244px;
    height: 120px;
    text-align: center;
    border-left: 1px solid #ccc;
}
.footercenter .right .phone{
    color: #cf211b;
    font-size: 22px;
}
.footercenter .right .time{
    font-size: 12px;
    margin-bottom: 10px;
}
.footercenter .right a{
    display: block;
    font-size: 12px;
    color: #cf211b;
    width: 118px;
    height: 28px;
    line-height: 30px;
    border: 1px solid #cf211b;
    margin: 0 auto;
}
.footerbottom{
    width: 1190px;
    height: 45px;
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
}
.footerbottom .shopname{
    width: 320px;
    height: 45px;
    display: flex;
    align-items: center;
}

.footerbottom .shopname ul li{
    float: left;
}
.footerbottom .shopname a{
    border-right:1px #000 solid ;
    padding: 0 10px;
    font-size: 12px;
    color: #222;
}
.footerbottom .shopname li:nth-child(1) a{
    padding-left: 0;
}
.footerbottom .shopname li:nth-child(4) a{
    border: none;
}


.last p:nth-child(1){
    line-height: 23px;
    height: 23px;
    padding-top: 15px;
}
.last p a{
    padding: 0 25px;
    font-size: 12px;
    color: #222;
}
.last p a:nth-child(1){
    padding-left: 0;
}
.last p:nth-child(2){
    color: #222;
    font-size: 12px;
    padding-top: 10px;
}