*{
    margin: 0;
    padding: 0;
}
.logo{
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -50px;
}
.registerbox{
    width: 360px;
    height: 410px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -240px;
    padding: 30px 60px;
    background:whitesmoke;
}
.registerbox span{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #c8c8c8;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.registerbox .title{
    text-align: center;
    line-height: 22px;
    font-size: 18px;
}
.registerbox .register{
    width: 360px;
    height: 280px;
}
.registerbox .register input{
    width: 360px;
    height: 45px;
    /* padding: 0 10px; */
    line-height: 45px;
    border: solid 1px #dadada;
    color: #bbb;
    font-size: 14px;
    text-indent: 10px;
    margin-top: 35px;
}
.registerbox #check{
    width: 20px;
    height: 20px;
    float: left;
}
.registerbox .read{
    text-indent: 10px;
    font-size: 14px;
}
.registerbox .read a{
    color: #cf1d1b;
    text-decoration: none;
}
.registerbox .btn{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: #cf1d1b;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.registerbox .bottom{
    float: right;
    margin-top: 10px;
}
.registerbox .bottom a{
    color:  #cf1d1b;
    text-decoration: none;
}