*{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;}
ul,ol,li{
    list-style: none;
}
body{
    color: #333;
    background-color: #fff;
    min-width: 1190px;
    
}
/* topnav */

.topnavbox{
    height: 40px;
    font-size: 12px;
    color: #ccc;
    background-color: #000;
    /* position: relative; */
}
.topnav{
    width: 1190px;
    margin: 0 auto;
}
.topnav .left{
    width: 425px;
    float: left;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.topnav .rightone{
    float: right;
    height: 40px;
    width: 175px;
    line-height: 40px;
}
.topnav .rightone a{
    border-right: 1px solid #393f3f;
    padding: 0 12px;
}
.topnav .rightone a:nth-child(3){
    border-right: none;
}
.topnav .right{
    display: flex;
    text-align: center;
    background-color: #424242;
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;

}
.topnav .right a{
    
}
.topnav a{
    color: #b0b0b0;
}
.topnav a:hover {
    color: #fff;
}
/* header */
.headerbox{
    position: relative;
    z-index: 2;
    box-shadow: 0 0 5px #ccc;
}
.header{
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1190px;
    margin: 0 auto;
}
.header .headerlogo{
    display: block;
    width: 120px;
    height: 65px;
}

.header .headernav ul{
    width: 700px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
.header .headernav ul li{
    padding-bottom: 16px;
}
.header .headernav ul a {
    font-size: 16px;
    color: #333;
    display: block;
    padding: 20px 25px 10px;
    
}
.header .headersearch{
    width: 300px;
    height: 40px;
    position: relative;

}
.header .headersearch .searchtext{
    padding-left: 10px;
    width: 290px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    border: 1px solid #e0e0e0;

}
.header .headersearch .searchbtn{
    position: absolute;
    top: 1px;
    right: 0px;
    width: 40px;
    height: 38px;
    border: none;
    border-left: 1px solid #e0e0e0;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
.shopbox{
    background: #fff;
    width: 100%;
    height: 682px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 10px;
}
.shopbox .shop{
    width: 1142px;
    height: 612px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
}
.shopbox .shop .left{
    float: left;
    width: 500px;
    height: 600px;
    position: absolute;
}
.shopbox .shop .left .lefttop{
    width: 500px;
    height: 500px;
    border: 1px solid #eee;
}
.shopbox .shop .left img{
    width: 100%;
    height: 100%;
}
.shopbox .shop .left .lefttop .dark{
    display: none;
    width: 200px; 
    height: 200px; 
    background-color: #ccc; 
    opacity: 0.5; 
    position: absolute; 
    left: 0px; 
    top: 0px;
}
.shopbox .shop .left .big{
    width: 400px; 
    height: 400px; 
    border: 1px solid black ; 
    position: absolute; 
    left: 560px; 
    top: 0px; 
    display: none; 
    overflow: hidden;
    z-index: 2;
}
.shopbox .shop .left .big img{
    width: 1000px; 
    height: 1000px;
    position: absolute; 
    z-index: 3;
    
}
.shopbox .shop .left .leftbottom li{
    float: left;
    width: 84px;
    height: 84px;
    text-align: center;
    cursor: pointer;
    margin-right: 17px;
    margin-top: 10px;
    border: 1px solid #CCC;
}
.shopbox .shop .left .leftbottom li:hover{
    border-color: red;
}
.shopbox .shop .right{
    float: right;
    width: 555px;
    height: 352px;
    font-size: 14px;
}
.shopbox .shop .right p:nth-child(1){
    /* margin-bottom: 10px; */
    font-size: 24px;
    line-height: 30px;
    height: 40px;
}
.shopbox .shop .right p:nth-child(2){
    color: #db0000;
}
.shopbox .shop .right .price{
    padding: 10px 0;
    margin-top: 10px;
    border-bottom: 1px dashed #E2E2E2;
    display: flex;
    align-items: center;
}
.shopbox .shop .right .price span:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    color: #db0000;
    margin-right: 20px;
}
.shopbox .shop .right .price span:nth-child(2){
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    color: #818181;
    text-decoration: line-through;
    margin-right: 50px;
}
.shopbox .shop .right .price span:nth-child(3){
    display: inline-block;
    height: 30px;
    padding: 0 15px;
    border-radius: 25px;
    color: #fff;
    line-height: 30px;
    margin-top: 10px;
    background: #db0000;
}
.shopbox .shop .right p:nth-child(4){
    line-height: 30px;
    margin-top: 10px;
}
.shopbox .shop .right .quantity{
    border: 1px solid #C9CACA;
    border-radius: 2px;
    width: 128px;
    /* display: inline-block; */
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.shopbox .shop .right .quantity .reduce{
    width: 38px;
    height: 38px;
    float: left;
    cursor: pointer;
    line-height: 36px;
    font-size: 28px;
    text-align: center;
}
.shopbox .shop .right .quantity div{
    text-align: center;
    background: #FFF;
    height: 38px;
    line-height: 38px;
}
.shopbox .shop .right .quantity .add{
    width: 38px;
    height: 38px;
    float: right;
    cursor: pointer;
    line-height: 36px;
    font-size: 24px;
    text-align: center;
}
.shopbox .shop .right .btnbox{
    width: 555px;
    height: 48px;
    padding: 16px 0;
    border-bottom: 1px dashed #E2E2E2;
}
.shopbox .shop .right .btnbox a{
    height: 48px;
    width: 170px;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
.shopbox .shop .right .btnbox a:nth-child(1){
    background-color: #ff9802;
}
.shopbox .shop .right .btnbox a:nth-child(2){
    background-color: #cf1d1b;
    margin-left: 10px;
}
.shopbox .shop .right ul{
    width: 100%;
    padding: 20px 0;
}
.shopbox .shop .right ul li{
    float: left;
    margin-right: 50px;
}
.shopbox .shop .right ul li a{
    color: #333;
}
.shopbox .shop .right ul li a:hover{
    color: red;
}